{{- if .Values.serviceAccount.create -}}
# ==============================================================================
# Service Account
# ==============================================================================
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "bybit-strategy-tester.serviceAccountName" . }}
  labels:
    {{- include "bybit-strategy-tester.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
