fastapi
uvicorn
sqlalchemy
psycopg[binary]
requests
prometheus-client
redis
websockets
pydantic-settings
python-multipart
pyyaml>=6.0.1
watchdog>=3.0.0
plotlyaiohttp
river>=0.21.0,<0.22.0


docker==7.0.0
