global:
  resolve_timeout: 5m

route:
  receiver: 'default'
  group_by: ['alertname', 'cluster', 'service']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h

  routes:
    - match:
        severity: critical
      receiver: 'critical'
      group_wait: 0s
      repeat_interval: 5m

    - match:
        severity: warning
      receiver: 'warning'
      group_wait: 30s
      repeat_interval: 30m

    - match:
        severity: info
      receiver: 'info'
      repeat_interval: 24h

receivers:
  - name: 'default'
    webhook_configs:
      - url: 'http://localhost:5001/'

  - name: 'critical'
    webhook_configs:
      - url: 'http://localhost:5001/'

  - name: 'warning'
    webhook_configs:
      - url: 'http://localhost:5001/'

  - name: 'info'
    webhook_configs:
      - url: 'http://localhost:5001/'

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'cluster', 'service']
