global:
  scrape_interval: 15s
  evaluation_interval: 15s
scrape_configs:
  - job_name: 'backend'
    static_configs:
      - targets: ['host.docker.internal:8000']
        labels:
          service: backend
  - job_name: 'ws_publisher'
    static_configs:
      - targets: ['host.docker.internal:8001']
        labels:
          service: ws_publisher
