# yaml-language-server: $schema=https://json.schemastore.org/grafana-datasource.json
# Grafana Datasource Provisioning Configuration
# This file follows Grafana's official datasource provisioning format
# See: https://grafana.com/docs/grafana/latest/administration/provisioning/#data-sources

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      httpMethod: POST
    version: 1
